{% extends 'EAMDefaultBundle::layout.html.twig' %}
{% block stylesheets %}
    {% stylesheets
        '@EAMDefaultBundle/Resources/public/plugins/fancybox/jquery.fancybox.css'
    %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
{% block body %}
<!--- Wrapper Start -->
<div class="wrapper">
    {% include 'EAMDefaultBundle::header.html.twig' %}
    <div class="clear"></div>
    <!-- Content Start -->
    <div class="content">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- Span12 Start -->
                <div class="span12">
                    <!-- Gallery Start -->
                    <div class="gallery-page kf-gallery-pp">
                        <div class="heading"><h2>{{ album.name }}</h2></div>
                        <div class="minus-margin gallery-four-col">
                            {% for image in album.images %}
                            <article>
                                <figure>
                                    <a href="#"><img src="{{ image.url }}" alt=""></a>
                                    <figcaption><a data-rel="prettyPhoto" rel="prettyPhoto" href="{{ image.url }}" class="fancybox color webkit">+</a></figcaption>
                                </figure>
                            </article>
                            {% endfor %}
                        </div>
                    </div>
                    <!-- Gallery End -->
                </div>
                <!-- Span12 End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
    {% include 'EAMDefaultBundle::footer.html.twig' %}
</div>
{% javascripts
    '@EAMDefaultBundle/Resources/public/plugins/fancybox/*'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<!--- Wrapper End -->
{% endblock %}
