{% extends 'EAMDefaultBundle::layout.html.twig' %}
{% block body %}
<!--- Wrapper Start -->
<div class="wrapper">
    {% include 'EAMDefaultBundle::header.html.twig' %}
    <div class="clear"></div>
    <!-- BreadCrumb Start -->
    <div class="breadcrumb webkit">
        <!-- Container Start -->
        <div class="container">
            <h1 class="color">Albums photos</h1>
        </div>
        <!-- Container End -->
    </div>
    <!-- BreadCrumb End -->
    <div class="clear">
    </div>
    <!-- Content Start -->
    <div class="content">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- Span12 Start -->
                <div class="span12">
                    <!-- Latest Album Start -->
                    <div class="latest-album">
                        <div class="heading"><h2><span class="color">Année : {{ annee }} </span> - Catégorie : {{ categorie }}</h2></div>
                        <div class="minus-margin">
                            <div class="row">
                                <div class="span12">
                                {% for album in albums %}
                                    <article>
                                        {% set firstImage = album.images|first %}
                                        <figure>
                                            {% if firstImage is not empty %}
                                            <a href="{{ path('eam_default_default_album', {'id': album.id }) }}"><img src="{{ firstImage.url }}" alt=""></a>
                                            {% endif %}
                                        </figure>
                                        <div class="text webkit">
                                            <div class="left-sec">
                                                <h3><a href="{{ path('eam_default_default_album', {'id': album.id }) }}">{{ album.name }}</a></h3>
                                                <p>{{ album.date|date('d/m') }}/{{ album.year }}</p>
                                            </div>
                                        </div>
                                    </article>
                                    {% if loop.index is divisible by(3) %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="span12">
                                    {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Latest Album End -->
                    <!-- Pagination Start -->
<!--                     <nav class="pagination">
    <ul>
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
</nav> -->
                    <!-- Pagination End -->
                </div>
                <!-- Span12 End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
    {% include 'EAMDefaultBundle::footer.html.twig' %}
</div>
<!--- Wrapper End -->
{% endblock %}