{% extends 'EAMDefaultBundle::layout.html.twig' %}
{% block body %}
<div class="wrapper">
    {% include 'EAMDefaultBundle::header.html.twig' %}
    <div class="clear"></div>
    <!-- BreadCrumb Start -->
    <div class="breadcrumb webkit">
        <!-- Container Start -->
        <div class="container">
            <h1 class="color">Contactez Nous</h1>
        </div>
        <!-- Container End -->
    </div>
    <!-- BreadCrumb End -->
    <div class="clear"></div>
    <!-- Content Start -->
    <div class="content">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- Span6 Start -->
                <div class="span6">
                    <!-- Comments Form Start -->
                    <div id="rispond">
                        {{ form_start(form, {'attr' : { 'class' : 'comments-form'}}) }}
                        <div class="heading"><h2><span class="color">Votre </span> message</h2></div>
                        <p class="name">
                            {{ form_label(form.nom) }}
                            {{ form_widget(form.nom) }}
                        </p>
                        <p class="email">
                            {{ form_label(form.email) }}
                            {{ form_widget(form.email) }}
                        </p>
                        <p>
                            {{ form_label(form.sujet) }}
                            {{ form_widget(form.sujet) }}
                        </p>
                        <p>
                            {{ form_label(form.message) }}
                            {{ form_widget(form.message) }}
                        </p>
                        <p class="input-block">
                            <label for="verify">Etes vous humain ?</label>
                            <iframe src="inc/capcha_page.php" height="29" width="80" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" class="capcha_image_frame" name="capcha_image_frame"></iframe>
                            <input class="verify" type="text" id="verify" name="verify" />
                        </p>
                        <p>
                            <input type="submit" value="Envoyer" class="bgcolor">
                        </p>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}
                    </div>
                    <!-- Comments Form End -->
                </div>
                <!-- Span6 End -->
                <!-- Span6 Start -->
                <div class="span6">
                    <!-- Text Widget Start -->
                    <div class="widget widget-text">
                        <div class="heading"><h2><span class="color">Information </span> Contact</h2></div>
                        <p>Lorem ipsum dolor amet, consectetur adipiscing elit. Pellentesque ut lacus at velit consequat sodales. Ut posuere neque in molestie gravida. Integer neque lementum posuere purus. Nam convallis ipsum. Maecenas a vulputate ipsum. Sed nec consequat felis sit amet sollicitudin neque.</p>
                        <ul>
                            <li>Address: 12 Street, Los Angeles, CA, 94101</li>
                            <li>Phone: +1 800 123 4567</li>
                            <li>Email:<a href="#" class="colorhover">testmail@sitename.com</a></li>
                        </ul>
                    </div>
                    <!-- Text Widget End -->
                </div>
                <!-- Span6 End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Content End -->
    {% include 'EAMDefaultBundle::footer.html.twig' %}
</div>
<!--- Wrapper End -->
{% endblock %}