{% extends 'EAMDefaultBundle::layout.html.twig' %}
{% block body %}
<div class="wrapper">
    {% include 'EAMDefaultBundle::header.html.twig' %}
    <div class="clear"></div>
    <!--- Banner Start -->
    <div class="banner">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    {% image '@EAMDefaultBundle/Resources/public/images/banner.png' %}
                    <img src="{{ asset_url }}" alt="" />
                    {% endimage %}
                </li>
            </ul>
        </div>
    </div>

    <!--- Banner End -->
    <div class="clear"></div>
    <!-- Content Start -->
    <div class="content">
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- Span12 Start -->
                <div class="span12">
                    <!-- Featured Start -->
                    <div class="featured-artist">
                        <div class="heading"><h2><span class="color">Saison</span> {{ ''|date('Y') }}</h2></div>
                        <div class="minus-margin">
                            <article>
                                <figure>
                                    <a href="{{ path('eam_default_default_albumsinannee', {'annee': 'now'|date('Y') }) }}"><i class="fa fa-camera"></i></a>
                                    <figcaption>
                                        <a href="{{ path('eam_default_default_albumsinannee', {'annee': 'now'|date('Y') }) }}"></a>
                                    </figcaption>
                                </figure>
                                <div class="user-text">
                                    <div class="sec">
                                        <h4><a href="{{ path('eam_default_default_albumsinannee', {'annee': 'now'|date('Y') }) }}">Photos</a></h4>
                                        <p></p>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <a href="{{ path('eam_default_default_resultatsanneeencours') }}">
                                <figure>
                                    <a href="{{ path('eam_default_default_resultatsanneeencours') }}"><i class="fa fa-university"></i></a>
                                    <figcaption>
                                    </figcaption>
                                </figure>
                                </a>
                                <div class="user-text">
                                    <div class="sec">
                                        <h4><a href="{{ path('eam_default_default_resultatsanneeencours') }}">Résultats</a></h4>
                                        <p></p>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <a href="{{ path('eam_default_default_palmaresanneeencours') }}">
                                <figure>
                                    <a href="{{ path('eam_default_default_palmaresanneeencours') }}"><i class="fa fa-trophy"></i></a>
                                    <figcaption>
                                    </figcaption>
                                </figure>
                                </a>
                                <div class="user-text">
                                    <div class="sec">
                                        <h4><a href="{{ path('eam_default_default_palmaresanneeencours') }}">Palmarès</a></h4>
                                        <p></p>
                                    </div>
                                </div>
                            </article>
                            <article>
                                <a href="{{ path('eam_default_default_records') }}">
                                <figure>
                                    <a href="{{ path('eam_default_default_records') }}"><i class="fa fa-clock-o"></i></a>
                                    <figcaption>
                                    </figcaption>
                                </figure>
                                </a>
                                <div class="user-text">
                                    <div class="sec">
                                        <h4><a href="{{ path('eam_default_default_records') }}">Records</a></h4>
                                        <p></p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!-- Featured End -->
                </div>
                <!-- Span12 End -->
                {% if article is defined and article is not null %}
                <div class="span12">
                    <div class="heading"><h2><span class="color">Dernier </span> article</h2></div>
                    <div class="blog-v2 webkit slide-view">
                        <article class="featured">
                            <figure>
                                <div class="flexslider">
                                    <ul class="slides">
                                        <li>
                                            <div class="clear"></div>
                                            <div class="text">
                                                <h3><a href="blog-detail.html" class="colorhover">{{ article.titre }}</a></h3>
                                                <p>{{ article.contenu }}</p>
                                                <!-- <a class="bgcolor nr-readmore" href="">Lire l'article</a> -->
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            <figcaption class="bgcolor">{{ article.date|date('d') }} <span>{{ article.date|date('M') }}</span></figcaption>
                            </figure>
                        </article>
                    </div>
                </div>
                {% endif %}
                <!-- Span12 Start -->
                <div class="span12">
                    <!--
                    PROCHAIN EVENEMENT 
                    -->
                    <div class="upcoming-event">
                        <div class="heading"><h2><span class="color">Prochain </span> Événement</h2></div>
                        <div class="minus-margin">
                            <article>
                                <div class="top-text">
                                    <h3>Melbourne City Hall</h3>
                                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et</p>
                                </div>
                                <div class="bottom-text">
                                    <figure><a href="event-detail.html"><img src="images/event1.jpg" alt=""></a></figure>
                                    <div class="sec webkit">
                                        <div class="desc-head">
                                            <ul>
                                                <li><span class="color">Quand</span> <p>30 September 2013 | 11:30PM</p></li>
                                                <li><span class="color">Lieu</span> <p>Massive Club London, Leytonstone 13</p></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>

                    <!-- 
                    FIN PROCHAIN EVENEMENT
                    -->
                </div>
                <!-- Span12 End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
        <!-- Parallex Start -->
        <div class="parallex-count margin-bottom" data-speed="2" data-type="background">
            <!-- Container Start -->
            <div class="container">
                <div id="DateCountdown" class="date-count-down" data-date="2015-12-12 00:00:00" data-tc-id="849b7d22-3517-3c4f-928d-972d6ba71559"></div>
            </div>
            <!-- Container End -->
        </div>
        <!-- Parallex End -->
        <!-- Container Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- Span12 Start -->
                <div class="span12">
                    <!-- Latest Album Start -->
                    <div class="latest-album">
                        <div class="heading"><h2><span class="color">Toutes les </span>Saisons</h2></div>
                        <div class="minus-margin">
                            <article>
                                <div class="text webkit">
                                    <div class="left-sec">
                                        <h3><a href="{{ path('eam_default_default_albums')}}">Photos</a></h3>
                                        <p>Les photos de Nicolas !</p>
                                    </div>
                                    <a class="icon-plus webkit" href="{{ path('eam_default_default_albums') }}"><i class="fa fa-plus fa-2x"></i></a>
                                </div>
                            </article>
                            <article>
                                <div class="text webkit">
                                    <div class="left-sec">
                                        <h3><a href="{{ path('eam_default_default_resultats')}}">Résultats</a></h3>
                                        <p>Tous les résultats</p>
                                    </div>
                                    <a class="icon-plus webkit" href="{{ path('eam_default_default_resultats')}}"><i class="fa fa-plus fa-2x"></i></a>
                                </div>
                            </article>
                            <article>
                                <div class="text webkit">
                                    <div class="left-sec">
                                        <h3><a href="{{ path('eam_default_default_records')}}">Records</a></h3>
                                        <p>Tous les records de Nicolas !</p>
                                    </div>
                                    <a class="icon-plus webkit" href="{{ path('eam_default_default_records')}}"><i class="fa fa-plus fa-2x"></i></a>
                                </div>
                            </article>
                            <article>
                                <div class="text webkit">
                                    <div class="left-sec">
                                        <h3><a href="{{ path('eam_default_default_palmares')}}">Palmarès</a></h3>
                                        <p>Le palmarès de Nicolas !</p>
                                    </div>
                                    <a class="icon-plus webkit" href="{{ path('eam_default_default_palmares')}}"><i class="fa fa-plus fa-2x"></i></a>
                                </div>
                            </article>
                        </div>
                    </div>
                    <!-- Latest Album End -->
                </div>
                <!-- Span12 End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Parallex Start -->
        <div class="parallex" data-speed="2" data-type="background">
            <div class="top-sec">
                <div class="heading"><h2><span class="color">Nos </span> Partenaires</h2></div>
                <div class="clearfix latest-album">
                {% for partenaire in partenaires %}
                    <article>
                        <figure>
                            {% if partenaire.image is not empty %}
                            <a href="{{ partenaire.lien }}"><img src="{{ partenaire.image }}" alt=""></a>
                            {% endif %}
                        </figure>
                        <div class="text webkit">
                            <div class="left-sec">
                                <h3><a href="{{ partenaire.lien }}">{{ partenaire.nom }}</a></h3>
                            </div>
                        </div>
                    </article>
                    {% if loop.index is divisible by(4) %}
                </div>
                <div class="clearfix latest-album">
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <!-- Parallex End -->
        <div class="clear"></div>
    </div>
    <!-- Content End -->
    {% include 'EAMDefaultBundle::footer.html.twig' %}
</div>
{% endblock %}