<!-- Header Start -->
<header id="header">
    <!-- Top Strip Start -->
    <div class="top-strip">
        <!-- Container Start -->
        <div class="container">
            <!-- Login Section Start -->
            <div class="top-nav">
                <nav>
                    <ul>
                        <li>EAM69</li>
                    </ul>
                </nav>
            </div>
            <!-- Login Section End -->
            <!-- Login Section Start -->
            <div class="login-sec">
                <div class="sign-in">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <a href="{{ path('fos_user_security_logout')}}" role="button" data-toggle="modal" class="colorhover"><i class="fa fa-sign-in"></i>DECONNEXION</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login')}}" role="button" data-toggle="modal" class="colorhover"><i class="fa fa-sign-in"></i>CONNEXION</a>
                    {% endif %}
                    <div class="search">
                        <a href="#myModaltwo" role="button" data-toggle="modal"><i class="fa fa-search"></i></a>
                    </div>
                </div>
            </div>
            <!-- Login Section End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Top Strip End -->
    <!-- Header Middle Section Start -->
    <div class="head-middle-sec">
        <!-- Container Start -->
        <div class="container">
            <!-- Logo Start -->
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt=""></a>
            </div>
            <!-- Logo End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Middle Section End -->
    <!-- Navigation Start -->
    <div class="navigation">
        <div class="container">
            <a class="cs-click-menu webkit"><i class="fa fa-bars"></i></a>
            <ul id="menus">
                <li><a href="{{ path('eam_default_default_index') }}">Accueil</a></li>
                <li><a href="#">Albums</a>
                    <ul>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        <li><a href="{{ path('eam_default_galleries_albums') }}">Administration albums</a></li>
                        {% endif %}
                        <li><a href="{{ path('eam_default_default_albums') }}">Liste des albums</a></li>
                    </ul>
                </li>
                <li><a href="event.html">Événements</a>
                    <ul>
                        <li><a href="event-detail.html">Event Detail</a></li>
                    </ul>
                </li>
                <li><a href="{{ path('eam_default_default_contact') }}">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- Navigation End -->
</header>